nodejs/webservce_nodejs.txt
[{"id":"f1098e74.f9957","type":"switch","z":"f0c987fb.abc258","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"pizza","vt":"str"},{"t":"cont","v":"salami","vt":"str"},{"t":"cont","v":"hamburger","vt":"str"},{"t":"cont","v":"quesadilla","vt":"str"},{"t":"cont","v":"curry","vt":"str"},{"t":"cont","v":"wings","vt":"str"},{"t":"cont","v":"edamame","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":8,"x":510,"y":120,"wires":[["7bcad53d.5e4f7c"],["21834df8.41ac62"],["ecb5a636.116928"],["e86981e5.6b934"],["790c24e3.394b3c"],["a43c2a77.d1f328"],["71d4589b.65de68"],["df179765.035b58"]]},{"id":"626a464b.482578","type":"http in","z":"f0c987fb.abc258","name":"","url":"/hackzurich/v1/:ID","method":"get","upload":false,"swaggerDoc":"","x":120,"y":80,"wires":[["bc1089b2.b0f5e8"]]},{"id":"4bd5f441.0e939c","type":"http response","z":"f0c987fb.abc258","name":"","statusCode":"","headers":{},"x":1130,"y":100,"wires":[]},{"id":"3bdb3bea.bdd7c4","type":"json","z":"f0c987fb.abc258","name":"","property":"payload","action":"","pretty":true,"x":990,"y":180,"wires":[["4bd5f441.0e939c"]]},{"id":"bc1089b2.b0f5e8","type":"change","z":"f0c987fb.abc258","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.params.ID","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":80,"wires":[["f1098e74.f9957"]]},{"id":"7bcad53d.5e4f7c","type":"function","z":"f0c987fb.abc258","name":"","func":"msg.payload = {\n    name:\"Pizza\", \n    ing: \"wheat, cheese, oil, water, tomato and salami\", \n    value: \"166.42FP/kg\",\n    value2:\" 0.99FP/portion\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":20,"wires":[["3bdb3bea.bdd7c4"]]},{"id":"df179765.035b58","type":"function","z":"f0c987fb.abc258","name":"","func":"msg.payload = {\n    name:\"Product not found\", \n    ing: \"no ingredient found\", \n    value: \"0\", \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":300,"wires":[["3bdb3bea.bdd7c4"]]},{"id":"ecb5a636.116928","type":"function","z":"f0c987fb.abc258","name":"","func":"msg.payload = {\n    name:\"Hamburger\", \n    ing: \"beef, wheat, cheese and oil\", \n    value: \"256FP/kg\",\n    value2:\" 0.7FP/portion\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":100,"wires":[["3bdb3bea.bdd7c4"]]},{"id":"e86981e5.6b934","type":"function","z":"f0c987fb.abc258","name":"","func":"msg.payload = {\n    name:\"Chicken Quesadilla\", \n    ing: \"chicken, wheat, cheese and oil\", \n    value: \"135FP/kg\",\n    value2:\" 0.4FP/portion\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["3bdb3bea.bdd7c4"]]},{"id":"790c24e3.394b3c","type":"function","z":"f0c987fb.abc258","name":"","func":"msg.payload = {\n    name:\"Chicken Curry\", \n    ing: \"chicken, rice and oil\", \n    value: \"95FP/kg\",\n    value2:\" 0.2FP/portion\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":180,"wires":[["3bdb3bea.bdd7c4"]]},{"id":"a43c2a77.d1f328","type":"function","z":"f0c987fb.abc258","name":"","func":"msg.payload = {\n    name:\"Chicken Wings\", \n    ing: \"chicken and oil\", \n    value: \"88FP/kg\",\n    value2:\" 0.4FP/portion\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":220,"wires":[["3bdb3bea.bdd7c4"]]},{"id":"71d4589b.65de68","type":"function","z":"f0c987fb.abc258","name":"","func":"msg.payload = {\n    name:\"Edamame\", \n    ing: \"edamame\", \n    value: \"6FP/kg\",\n    value2:\" 0.01FP/portion\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":260,"wires":[["3bdb3bea.bdd7c4"]]},{"id":"3978aa9f.282a46","type":"debug","z":"f0c987fb.abc258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":1000,"wires":[]},{"id":"670d4dbf.508a74","type":"inject","z":"f0c987fb.abc258","name":"","topic":"test","payload":"testmessage","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":960,"wires":[["d4206359.0a5d8","3978aa9f.282a46"]]},{"id":"d4206359.0a5d8","type":"slack","z":"f0c987fb.abc258","name":"","channelURL":"https://hooks.slack.com/services/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","username":"Tanja's_Cat","emojiIcon":"","channel":"greyhats","x":370,"y":940,"wires":[]},{"id":"da4a660f.19d408","type":"http in","z":"f0c987fb.abc258","name":"","url":"/hackzurich/v2/","method":"get","upload":false,"swaggerDoc":"","x":110,"y":480,"wires":[["a2d9d651.655ec8"]]},{"id":"e0b38fc8.a6982","type":"http request","z":"f0c987fb.abc258","name":"","method":"use","ret":"txt","url":"","tls":"3e8101a.a4511fe","x":370,"y":480,"wires":[["2976a41b.3208cc"]]},{"id":"a2d9d651.655ec8","type":"function","z":"f0c987fb.abc258","name":"","func":"var URL1=\"https://gk2009ch.gotdns.ch:5000/label?imageUrl=\";\nvar URL2=msg.req.query.url;\n\nvar URL3=URL1+URL2;\n\nmsg.url = URL3;\nmsg.method = \"GET\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":540,"wires":[["e0b38fc8.a6982"]]},{"id":"ac148354.c0f6d","type":"json","z":"f0c987fb.abc258","name":"","property":"payload","action":"obj","pretty":true,"x":970,"y":560,"wires":[["abb8a333.6fe5f"]]},{"id":"2976a41b.3208cc","type":"switch","z":"f0c987fb.abc258","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"pizza","vt":"str"},{"t":"cont","v":"salami","vt":"str"},{"t":"cont","v":"hamburger","vt":"str"},{"t":"cont","v":"quesadilla","vt":"str"},{"t":"cont","v":"curry","vt":"str"},{"t":"cont","v":"wings","vt":"str"},{"t":"cont","v":"edamame","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":8,"x":550,"y":560,"wires":[["36bf9b6f.8050f4"],["14ad85ef.67a5ea"],["5f8d1a83.ecf4e4"],["ba51b57f.cbf498"],["d9c8ee38.5163f"],["e445479f.834be8"],["2257fe29.f2d652"],["6bccf63f.60d198"]]},{"id":"36bf9b6f.8050f4","type":"function","z":"f0c987fb.abc258","name":"","func":"var text1 = '{\"name\": \"Pizza\",\"ingredients\": [{ \"name\": \"Beef\", \"value\": 200 },{ \"name\": \"Cheese\", \"value\": 50 },{ \"name\": \"Tomato\", \"value\": 150 }]}'\n\nmsg.payload = text1;\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":420,"wires":[["6d21c159.0ed28","ac148354.c0f6d"]]},{"id":"6bccf63f.60d198","type":"function","z":"f0c987fb.abc258","name":"","func":"var text2 = '{\"name\": \"Pizza Salami\",\"ingredients\": [{ \"name\": \"Beef\", \"value\": 200 },{ \"name\": \"Cheese\", \"value\": 50 },{ \"name\": \"Tomato\", \"value\": 150 }]}'\n\nmsg.payload = text2;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":700,"wires":[["ac148354.c0f6d"]]},{"id":"5f8d1a83.ecf4e4","type":"function","z":"f0c987fb.abc258","name":"","func":"var text2 = '{\"name\": \"Hamburger\",\"ingredients\": [{ \"name\": \"beef\", \"value\": 200 },{ \"name\": \"wheat\", \"value\": 150 },{ \"name\": \"cheese\", \"value\": 50 }]}'\n\nmsg.payload = text2;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":500,"wires":[["ac148354.c0f6d"]]},{"id":"ba51b57f.cbf498","type":"function","z":"f0c987fb.abc258","name":"","func":"var text2 = '{\"name\": \"Chicken Quesadilla\",\"ingredients\": [{ \"name\": \"chicken\", \"value\": 150 },{ \"name\": \"wheat\", \"value\": 150 },{ \"name\": \"cheese\", \"value\": 50 }]}'\n\nmsg.payload = text2;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":540,"wires":[["ac148354.c0f6d"]]},{"id":"d9c8ee38.5163f","type":"function","z":"f0c987fb.abc258","name":"","func":"var text2 = '{\"name\": \"Chicken Curry\",\"ingredients\": [{ \"name\": \"chicken\", \"value\": 150 },{ \"name\": \"rice\", \"value\": 100 },{ \"name\": \"oil\", \"value\": 10 }]}'\n\nmsg.payload = text2\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":580,"wires":[["ac148354.c0f6d"]]},{"id":"e445479f.834be8","type":"function","z":"f0c987fb.abc258","name":"","func":"var text2 = '{\"name\": \"Chicken Wings\",\"ingredients\": [{ \"name\": \"chicken\", \"value\": 150 }, { \"name\": \"oil\", \"value\": 10 }]}'\n\nmsg.payload = text2\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":620,"wires":[["ac148354.c0f6d"]]},{"id":"2257fe29.f2d652","type":"function","z":"f0c987fb.abc258","name":"","func":"var text2 = '{\"name\": \"Edamame\",\"ingredients\": [{ \"name\": \"edamame\", \"value\": 300 }]}'\n\nmsg.payload = text2\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":660,"wires":[["ac148354.c0f6d"]]},{"id":"abb8a333.6fe5f","type":"http response","z":"f0c987fb.abc258","name":"","statusCode":"","headers":{},"x":1110,"y":560,"wires":[]},{"id":"688842e9.3a319c","type":"http in","z":"f0c987fb.abc258","name":"","url":"/hackzurich/v3/","method":"get","upload":false,"swaggerDoc":"","x":110,"y":640,"wires":[["695ce6ad.973d38"]]},{"id":"4fb1e1d1.e98bb","type":"http response","z":"f0c987fb.abc258","name":"","statusCode":"","headers":{},"x":430,"y":640,"wires":[]},{"id":"695ce6ad.973d38","type":"template","z":"f0c987fb.abc258","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html> \n<html>\n\n<head>\n\t<meta charset=\"utf-8\">\n\t<title>Know your foodprint - no more food waste</title> \n    <link rel=\"stylesheet\" href=\"http://fonts.googleapis.com/css?family=Open+Sans:300,400,700\">\n    <link rel=\"icon\" type=\"image/png\" href=\"https://res.cloudinary.com/dde9xhzio/image/upload/v1537036632/favicon.png\" sizes=\"32x32\">\n\t<link rel=\"stylesheet\" href=\"http://demos.jquerymobile.com/1.4.5/css/themes/default/jquery.mobile-1.4.5.min.css\">\n\t<link rel=\"stylesheet\" href=\"http://demos.jquerymobile.com/1.4.5/_assets/css/jqm-demos.css\">\n\t    <script src=\"http://demos.jquerymobile.com/1.4.5/js/jquery.js\"></script>\n\t<script src=\"http://demos.jquerymobile.com/1.4.5/_assets/js/index.js\"></script>\n\t<script src=\"http://demos.jquerymobile.com/1.4.5/js/jquery.mobile-1.4.5.min.js\"></script>\n\t\n</head> \n\n<body>\n\n<div data-role=\"page\" align=\"center\">\n\t\t<div role=\"main\" class=\"ui-content\" data-theme=\"a\">\n\t\t<p><img src=\"http://res.cloudinary.com/dde9xhzio/image/upload/c_scale,h_150/v1537047090/logo3png.png\"></p>\n\t\t<p><img src=\"http://res.cloudinary.com/dde9xhzio/image/upload/c_scale,h_800/v1537049300/web-screen23.png\"></p>\n  </div>\n\t</div>\n\n\n</body>\n</html>","output":"str","x":280,"y":720,"wires":[["4fb1e1d1.e98bb"]]},{"id":"21834df8.41ac62","type":"function","z":"f0c987fb.abc258","name":"","func":"msg.payload = {\n    name:\"Pizza Salami\", \n    ing: \"wheat, cheese, oil, water, tomato and salami\", \n    value: \"166.42FP/kg\",\n    value2:\" 0.99FP/portion\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":60,"wires":[["bc11fd87.9117a"]]},{"id":"6d21c159.0ed28","type":"debug","z":"f0c987fb.abc258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":380,"wires":[]},{"id":"bc11fd87.9117a","type":"json","z":"f0c987fb.abc258","name":"","property":"payload","action":"","pretty":true,"x":970,"y":80,"wires":[["4bd5f441.0e939c"]]},{"id":"14ad85ef.67a5ea","type":"function","z":"f0c987fb.abc258","name":"","func":"var text2 = '{\"name\": \"Pizza Salami\",\"ingredients\": [{ \"name\": \"Beef\", \"value\": 200 },{ \"name\": \"Cheese\", \"value\": 50 },{ \"name\": \"Tomato\", \"value\": 150 }]}'\n\nmsg.payload = text2;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":460,"wires":[["ac148354.c0f6d"]]},{"id":"3e8101a.a4511fe","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false}]